/* DEFAULT */
body {
	margin: 0;
	background: url(bg.png);

	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	color: #283f63;
}
a {
	text-decoration: none;
}


/* LAYOUT */
#frame {
	max-width: 1200px;
	margin: 0 auto;
}
@media (min-width:1000px) {
	#frame {
		padding: 0 15px;
	}
}



/* HEADINGS */
h1, h2, h3 {
	font-family: "Roboto Condensed", sans-serif;
	background: #283f63;
	color: #fff;
	margin: 0;
}
h1 {
	font-size: 22px;
	padding: 10px;
}
h2 {
	font-size: 22px;
	padding: 25px;
}
h3 {
	font-size: 18px;
	padding: 15px;
}
@media (min-width:1000px) {
	h1, h2, h3 {
		margin-left: -8px;
		position: relative;
	}
	h1 {
		font-size:26px;
	}
	h2:after, h3:after {
		content: '';
		display:block;
		width:8px;
		height:8px;
		position:absolute;
		left:0px;
		bottom:-8px;
		background:url(header-fold.png);
	}
}


/* HEADER */
header {
	display:block;
	background: url("bg-header.gif") left bottom repeat-x #f5f5f5;
}

	header h1 {
	}
		header h1 a {
			color: inherit;
		}
		header h1 br {
			display: none;
		}

	header ul,
	header ol {
		margin: 0;
		padding: 10px 0;

		list-style: none;
		font-family: "Roboto Condensed", sans-serif;
		font-size: 20px;

		text-align: center;
	}
		header ul ul {
			display: none;
			padding: 0;
			font-size: 16px;
		}
			header ul ul ul {
				font-size: 14px;
			}

	header li {
		padding: 0;
	}
		header li a {
			display: block;
			color: inherit;
			padding: 5px 10px;
		}
		header li.open > a,
		header li:hover > a {
			font-weight: bold;
		}


@media (max-width: 999px) {
    header #mobSwitch {
        position: absolute;
        top: 14px;
        right: 20px;
        width: 26px;
        height: 20px;
        background: url(mobSwitch.png) no-repeat;
        cursor: pointer;
    }
  header ul ul {
        display: none; /* Hide submenus by default */
    }
    header ul li.open > ul {
        display: block; /* Show submenu when parent has open class */
    }

}



@media (min-width:1000px) {
	header {
		position: relative;
	}

		header h1 {
			display: inline-block;
			padding: 75px 20px 25px 20px;
			margin-left: 3%;
		}
			header h1 br {
				display: block;
			}

		header ul {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 300px;
			padding: 0;
			text-align: left;
		}
			header ul ul {
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 2;
				min-width: 200px;

				border-top: 4px solid #283f63;
			}
			header ul li:hover > ul {
				display: block;
			}
				header ul ul ul {
					top:0;
					left: 100%;
				}
		header ol {
			float: right;
		}

		header li {
			display: inline-block;
			position: relative;
		}
			header li a {
				padding: 15px 20px;
			}

				/* submenu */
				header ul ul li {
					display: block;
					background: #f5f5f5;
					border-top: 1px solid #d2dcea;
					padding: 0;
				}
				header ul ul li.open,
				header ul ul li:hover {
					background: #fff;
				}
					header ul ul li a {
						display: block;
						padding: 20px;
					}
}


main {
	display:block;
	background: #fff;
	padding-bottom: 1px;
	overflow:auto;
}
	main section {
		margin: 3%;
		background: #f2f2f2;
		padding-bottom:1px;
	}
		main section a {
			color: #638ac0;
		}


footer {
	display:block;
	background: #f5f5f5;
	padding: 3%;
	overflow: auto;
}
	a.wdt {
		float: right;
		background: url(wdt.gif);
		width: 74px;
		height:53px;
	}



/* _SLIDER */
._slider {
	margin: 0 auto;
	overflow: hidden;
	font-size: 0; /* no spacing between tags */
	position:relative;
}
	._slider div {
		/*position: relative;*/
	}
		._slider div ul {
			white-space: nowrap;
			position: relative; /* citādāk neslīd */
			padding: 0;
		}
			._slider div ul li {
				display: inline-block;
				width: 100%;
				vertical-align: top;
				white-space: normal;
			}
				._slider div ul li img {
					width: 100%;
					height: auto;
				}
		._slider div a {
			position: absolute;
			width: 20%;
			top: 0;
			bottom: 0;
			opacity: 0.3;
		}
		._slider div a:hover {
			opacity: 1;
		}
		._slider div a[href="#prev"] {
			left:0;
			background: url(slide-left.png) no-repeat center center;
		}
		._slider div a[href="#next"] {
			right:0;
			background: url(slide-right.png) no-repeat center center;
		}
	._slider ol {
		/*margin: 20px 0 0 0;*/
		padding: 0;
		text-align: center;

		position:absolute;
		width:100%;
		bottom:10%;
	}
		._slider ol li {
			display: inline-block;
			margin: 0 5px;
		}
			._slider ol li a {
				display: block;
				width: 10px;
				height: 10px;

				border: 2px solid #fff;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				opacity: 0.5;
			}
			._slider ol li a.active,
			._slider ol li a:hover {
				background: #fff;
				opacity: 1;
			}
@media (min-width:1000px) {
	._slider ol li {
		margin: 0 5px;
	}
}


/* ICONS */
._icon {
	display: inline-block;
	background: url(icons.png) left top no-repeat;
	width: 10px;
	height: 14px;
	vertical-align: middle;
	margin: 0 7px;
}
._icon.place {
}
._icon.phone {
	background-position: -10px 0;
	width: 11px;
	margin-right: 6px;
}
._icon.email {
	background-position: -21px 0;
	width: 15px;
	margin-right: 2px;
}


/* OTHER */
._clear {
	clear: both;
}
._text {
	margin: 3%;
}
._box {
	margin: 5% 3%;
	background: #fff;

	padding-bottom:1px; /* no margin collapsing */
}
._box.border {
	border-top: 4px solid #283f63;
}
._meta {
	color: #aaa;
	font-style: italic;
}
._padding {
	padding: 3%;
}


#kontakti td {
				text-align: center;
				padding: 10px;
				font-size: 1rem;
				width: 25%;
			}
			
#kontakti td:hover {
				box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
				background-color: #283f63;
				color: white;
				transition: all 100ms;
				cursor: pointer;
			}
#kontakti td:hover img{
				filter: invert(1);
				transition: all 500ms;
			}
@media (max-width: 800px) {
  #kontakti, #kontakti tbody, #kontakti tr, #kontakti td, #kontakti th {
    display: block;
    width: 100%;
  }

  #kontakti td, #kontakti th {
    box-sizing: border-box; /* Ensures padding and borders don't affect width */
    width: 100%; /* Makes each cell take up the full width */
  }
}